root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
tab_width = 4
indent_style = space
trim_trailing_whitespace = true

[*.{yaml,yml,sh,ps1}]
indent_size = 2

[*.{md,mkd,markdown}]
trim_trailing_whitespace = false
