name: CI

on:
  push:
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-excluding-paths
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'
  workflow_dispatch:

env:
  JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8 -Duser.timezone=Asia/Shanghai

jobs:
  test:
    timeout-minutes: 20
    strategy:
      fail-fast: false
      max-parallel: 16
      matrix:
        java: [ 8, 11, 17, 21, 25 ]
        os: [ ubuntu-24.04, windows-latest, macos-latest ]
        exclude:
          # Exclude JDK 25 on macOS (not yet supported)
          - java: 25
            os: macos-latest
    name: Test JDK ${{ matrix.java }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}
          cache: maven

      - name: Build with Maven
        run: ./mvnw -V --no-transfer-progress -Pgen-javadoc -Pgen-dokka clean package

  test-reflect:
    timeout-minutes: 20
    strategy:
      fail-fast: false
      max-parallel: 16
      matrix:
        java: [ 8, 11, 17, 21, 25 ]
        os: [ ubuntu-24.04, macos-latest ]
        exclude:
          - java: 25
            os: macos-latest
    name: Test Reflect JDK ${{ matrix.java }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}
          cache: maven

      - name: Build with Maven
        run: ./mvnw -V --no-transfer-progress -Dfastjson2.creator=reflect clean package

  coverage:
    timeout-minutes: 20
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 11
          cache: maven

      - name: Build with Maven
        run: ./mvnw -V --no-transfer-progress clean package

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          name: codecov-umbrella
          token: ${{ secrets.CODECOV_TOKEN }}
