name: Java CI

on:
  push:
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-excluding-paths
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'
  workflow_dispatch:

jobs:
  test:
    timeout-minutes: 20
    strategy:
      matrix:
        java: [ 8, 11, 17, 21, 25 ]
        os-arch:
          - { os: ubuntu-24.04, arch: x64 }
          - { os: windows-latest, arch: x64 }
          - { os: macos-latest, arch: arm64 }
          - { os: ubuntu-24.04-arm, arch: arm64 }
      fail-fast: false
      max-parallel: 16
    name: Test on JDK ${{ matrix.java }} OS ${{ matrix.os-arch.os }} (${{ matrix.os-arch.arch }})
    runs-on: ${{ matrix.os-arch.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}
          cache: maven
      - name: Build with Maven and generate code coverage
        run: ./mvnw -V --no-transfer-progress -Pgen-javadoc -Pgen-dokka clean package
        env:
          JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8 -Duser.timezone=Asia/Shanghai
      - name: Build with reflect creator
        run: ./mvnw clean package -Dfastjson2.creator=reflect
        env:
          JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8 -Duser.timezone=Asia/Shanghai
      # https://github.com/marketplace/actions/codecov
      - uses: codecov/codecov-action@v3
        with:
          name: codecov-umbrella
          token: ${{ secrets.CODECOV_TOKEN }}
